<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Link -->
    <link rel="stylesheet" href="/public/style.css" type="text/css">

    <title>Physique Forged</title>

    <!-- #pixel font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">

</head>
<body>

    <!-- NavBar -->
    <div id="navBar"> <!-- CONTAINER -->

        <h1 id="title" class="mainTextStyle">
            Physique Forged
        </h1>
        
    </div>

    <!-- Center Butons -->
    <div id="centerButtonContainer">

        <div id="diet-container">
            <img class="card-image" src="/public/assets/pixel-knight-feast.webp" alt="Pixelated knight eating food in a tavern.">
            
            <button class="card-button" type="button">Diet Crafter</button>


            <div class="description-container subTextStyle">
                <p class="description-text">
                    Vivamus suscipit condimentum tellus felis morbi fermentum feugiat nascetur. Fusce ipsum convallis ullamcorper tortor nulla porta. Fusce ipsum convallis ullamcorper tortor nulla porta.Fusce ipsum convallis ullamcorper tortor nulla porta.Fusce ipsum convallis ullamcorper tortor nulla porta.
                </p>

                <ul class="feature-text">
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li>Aliquam tincidunt mauris eu risus.</li>
                    <li>Vestibulum auctor dapibus neque.</li>
                    <li>Nunc dignissim risus id metus.</li>
                    <li>Cras ornare tristique elit.</li>
                    <li>Vivamus vestibulum ntulla nec ante.</li>
                    
                </ul>
            </div>

        </div>


        <div id="workout-container">
            <img class="card-image" src="/public/assets/pixel-knight-training.webp" alt="Pixelated knight lifitng weights in a city center.">

            <button class="card-button" type="button">Workout Forger</button>

            <div class="description-container subTextStyle">
                <p class="description-text">
                    Vivamus suscipit condimentum tellus felis morbi fermentum feugiat nascetur. Fusce ipsum convallis ullamcorper tortor nulla porta. Fusce ipsum convallis ullamcorper tortor nulla porta.Fusce ipsum convallis ullamcorper tortor nulla porta.Fusce ipsum convallis ullamcorper tortor nulla porta.
                </p>

                <ul class="feature-text">
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li>Aliquam tincidunt mauris eu risus.</li>
                    <li>Vestibulum auctor dapibus neque.</li>
                    <li>Nunc dignissim risus id metus.</li>
                    <li>Cras ornare tristique elit.</li>
                    <li>Vivamus vestibulum ntulla nec ante.</li>
                    
                </ul>
            </div>
        </div>

    </div>


</body>
</html>